body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1{
    font-size: 30px;
}

.timerContainer {
    text-align: center;
    background-color: white;
    padding: 2.2rem;
    padding-top: 45px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toggleContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.toggleAudio {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggleAudio input {
    position: absolute;
    opacity: 0;
    width: 20;
    height: 20;
}

.toggleAudio img {
    width: 35px;
    height: 45px;
    cursor: pointer;
}

#audioOn {
    position: absolute;
    opacity: 0;
}

#audioMute {
    opacity: 1;
}

.toggleAudio input:not(:checked) ~ #audioOff {
    opacity: 1;
}

.toggleAudio input:not(:checked) ~ #audioOn {
    opacity: 0;
}

.toggleAudio input:checked ~ #audioOff {
    opacity: 0;
}

.toggleAudio input:checked ~ #audioOn {
    opacity: 1;
}


/* .toggleTime {
    padding: 5px 20px;
    padding-bottom: 10px;
} */


.copyButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: 35px;
    height: 45px;
}

.copyButton img {
    width: 35px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

#copiedString {
    opacity: 0;
}

#copyString {
    opacity: 1;
}


.switch {
    position: relative;
    display: inline-block;
}


#timingData {
    border: rgba(202, 202, 202, 0.8);
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px; 
    border-right-style: ridge;
    border-left-style: groove;
}


button #switchButton1, #switchButton2, #switchButton3 {
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition-duration: 0.4s;
}


#dataProgressBar {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.progressBox {
    width: 30px;
    height: 30px;
    color: white;
    background-color: white;
    display: flex;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

p span {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#elapsedTime, #startTime {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#firstRSIPush {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#switchButton1, #switchButton2, #switchButton3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 300px;
    min-height: 40px
}

#switchButton1:disabled, #switchButton2:disabled, 
#switchButton3:disabled {
    padding: 8px 16px;
    opacity: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: #cccccc;
    cursor: not-allowed;
}

#switchButton1:disabled span, #switchButton2:disabled span,
#switchButton3:disabled span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:rgb(196, 25, 25);
    font-size: 18px;
}

.borderGlow {
    position: relative;
    padding: 5px;
}

.borderGlow::before {
    content: '';
    position: absolute;
    border: 6px solid rgba(255,82,82,0.5);
    background-color: rgba(255, 146, 146, 0.3);
    border-radius: 25px;
    box-shadow: 
        0 0 10px rgba(255,82,82,0.7),
        0 0 10px rgba(255,82,82,0.7),
        0 0 15px rgba(255,82,82,0.3),
        0 0 20px rgba(255,82,82,0.2);
    opacity: 0;
    pointer-events: none;
}

.borderGlow.glow-active::before {
    opacity: 1;
    animation: pulseGlow 1s infinite;
}

@keyframes pulseGlow {
    0% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
    }
    50% {
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        opacity: 1;
    }
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .timerContainer {
        padding: 1.6rem;
        padding-top: 45px;

    }
    
    #switchButton1, #switchButton2, #switchButton3 {
        padding: 8px 16px;
        width: 290px;
    }
    
    p span, #elapsedTime, #startTime {
        font-size: 1.2rem;
    }
}